.header_logo {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-right: 20px;
}

.enlace{
  justify-content: center;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 10px;
  color: rgb(100, 99, 99);
}

/*cards*/

.counter{
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 280px;
  height: 240px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  display:inline-flex;
}

.card-img img {
  width: 280px;
  height: 230px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  display: inline-flex;
}


.card {
  margin: 15px;
  padding: 20px;
  min-height: 300px;
  width: 340px;
  height: 550px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
  background-color: #fff;
  overflow: hidden;
  transition: all 0.20s ease-in;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  justify-content:justify;
}

.card:hover {
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-6px);
}

.card-detail {
  padding: 15px;
}

small {
  color: #8c8c8e;
}

/*Counter*/

.counter {
  width: fit-content;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.btnAgregarCarrito{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* carrito*/

.cartList{
  border-spacing: 0;
  width: 95%;
  margin: 15px auto;
  text-align: center;
}

.cartList_head{
  background-color: #da1674;
  margin: 8px auto;
}

.cartList_row{
  line-height: 46px;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnT{
  margin-top: 10px;
  margin-bottom: 10px;
}